@import url('reset.css');

@font-face {
    font-family: Roboto ;
    src: url(https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap;)
}

p {
    font-family: "Roboto";
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    gap: 32px;
    position: absolute;
    width: 1440px;
    height: 56px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}



#left { 
    margin: 0 auto;
    width: 146px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;    
}

#menu {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 16px;
}

#v1-menu {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 24%;
    bottom: 75%;
    border: 1px solid #000000;
}

#v2-menu {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 50%;
    bottom: 50%;
    border: 1px solid #000000;
}

#v3-menu {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 75%;
    bottom: 25%;  
    border: 1px solid #000000;
}

#logo {
    position: absolute;
    width: 90px;
    height: 20px;
    left: 80px;
    top: 18px;
    background-image: url("/assets/images/youtube\ 1.png");
}    



#center {
    margin: 0 auto;
    width: 404px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0; 
}

header input {
    box-sizing: border-box;
    position: absolute;
    width: 348px;
    height: 40px;
    left: 526px;
    top: 8px;
    border: 1px solid #CCCCCC;
}

#rectangle-02 {
    box-sizing: border-box;
    position: absolute;
    width: 57px;
    height: 40px;
    left: 875px;
    top: 8px;
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
}

#search {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 887px;
    top: 16px;
}

#v1-search {
    position: absolute;
    left: 17px;
    top: 17px;
    width: 1px;
    height: 10px;
    background-color: #000000;
    transform: rotate(-45deg);
    transform-origin: top left;
}

#v2-search {
    position: absolute;
    left: 12.5%;
    right: 20.83%;
    top: 12.5%;
    bottom: 20.83%;
    border: 1px solid #000000;
    border-radius: 50%;
}

#right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;
    margin: 0 auto;
    width: 850px;
    height: 34px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#video {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: none;
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;   
    position: relative;
    background-image: url(/assets/images/video.png);
}


#bell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-image: url(/assets/images/bell.png);
}

#avatar {
    width: 34px;
    height: 34px;
    background-image: url(/assets/images/Avatar.png);
    flex: none;
    order: 2;
    flex-grow: 0;
}




#watching-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 952px;
    height: 750px;
    left: 75px;
    top: 84px;
}

#image {
    width: 952px;
    height: 537px;
    background-image: url("/assets/images/image\ 2.png");
    flex: none;
    order: 0;
    flex-grow: 0;
}

#title {
    width: 871px;
    height: 23px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}


#video-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 42px;
    width: 902px;
    height: 42px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#channel-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 134px;
    height: 42px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#channel-avatar {
    width: 42px;
    height: 42px;
    background-image: url(/assets/images/Channel\ Avatar.png);
    flex: none;
    order: 0;
    flex-grow: 0;
}

#subscribers {
    width: 106x;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#subscribe-button {
    width: 159px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#sub-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 40px;
    left: 202px;
    top: 1px;
    background: #CC0000;
    border-radius: 2px;
}

#subscribe {
    width: 90px;
    height: 16px;
    left: 237px;
    top: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 65px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#thumbs-up {
    width: 24px;
    height: 24px;
    left: 403px;
    top: 9px;
    background-image: url(/assets/images/thumbs-up.png);
}

#like-count {
    width: 32px;
    height: 16px;
    left: 435px;
    top: 13px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

#dislike {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 110px;
    height: 24px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

#thumbs-down {
    width: 24px;
    height: 24px;
    left: 508px;
    top: 9px;
    background-image: url(/assets/images/thumbs-down.png);
}

#não-gostei {
    width: 68px;
    height: 16px;
    left: 540px;
    top: 13px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

#share {
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 24px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

#share-2 {
    width: 24px;
    height: 24px;
    left: 650px;
    top: 9px;
    background-image: url(/assets/images/share-2.png);
}

#compartilhar {
    left: 75.61%;
    right: 15.19%;
    top: 30.95%;
    bottom: 30.95%;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

#download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 24px;
    flex: none;
    gap: 8px;
    order: 5;
    flex-grow: 0;
}

#download-button {
    width: 24px;
    height: 24px;
    left: 807px;
    top: 9px;
    background-image: url(/assets/images/download.png);
}

#download-text {
    left: 93.02%;
    right: 0%;
    top: 30.95%;
    bottom: 30.95%;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}


#view-count {
    width: 391px;
    height: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    flex: none;
    order: 3;
    flex-grow: 0;
}

#description {
    width: 510px;
    height: 64px;
    font-size: 14px;
    line-height: 16px;
    color: #515151;
    flex: none;
    order: 4;
    flex-grow: 0;
}



#sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 160px;
    height: 2000px;
    left: 1052px;
    top: 86px;
}

#video1 {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    gap: 10px;
    margin-bottom: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#thumb1 {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 0px;
    background: url(/assets/images/thumb1.png);
}

#info1 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 89px;
    left: 176px;
    top: 0px;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}


#video2 {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    flex: none;
    margin-bottom: 20px;
    order: 1;
    flex-grow: 0;
    gap: 10px;
}

#thumb2 {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 0px;
    background: url(/assets/images/thumb2.png);
}

#info2 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 89px;
    left: 176px;
    top: 0px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
}


#video3 {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    gap: 10px;
    margin-bottom: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#thumb3 {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 0px;
    background-image: url(/assets/images/thumb3.png);
}

#info3 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 89px;
    left: 176px;
    top: 0px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
}


#video4 {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    gap: 10px;
    margin-bottom: 20px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

#thumb4 {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 0px;
    background-image: url(/assets/images/thumb4.png);
}

#info4 {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 89px;
    left: 176px;
    top: 0px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
}


#video5 {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    gap: 10px;
    margin-bottom: 20px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

#thumb5 {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 0px;
    background-image: url(/assets/images/thumb5.png);
}

#info5 {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 89px;
    left: 176px;
    top: 0px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
}


#video6 {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    gap: 10px;
    margin-bottom: 20px;
    flex: none;
    order: 5;
    flex-grow: 0;
}

#thumb6 {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 0px;
    background-image: url(/assets/images/thumb6.png);
}

#info6 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 89px;
    left: 176px;
    top: 0px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
}

#video7 {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    gap: 10px;
    margin-bottom: 20px;
    flex: none;
    order: 6;
    flex-grow: 0;
}

#thumb7 {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 0px;
    background-image: url(/assets/images/thumb7.png);
}

#info7 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 89px;
    left: 176px;
    top: 0px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
}


#video8 {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    gap: 10px;
    margin-bottom: 20px;
    flex: none;
    order: 7;
    flex-grow: 0;
}

#thumb8 {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 0px;
    background-image: url(/assets/images/thumb8.png);
}

#info8 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 89px;
    left: 176px;
    top: 0px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
}


#video9 {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 90px;
    gap: 10px;
    margin-bottom: 20px;
    flex: none;
    order: 8;
    flex-grow: 0;
}

#thumb9 {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 0px;
    background-image: url(/assets/images/thumb9.png);
}

#info9 {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 89px;
    left: 176px;
    top: 0px;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
}